<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="http://localhost:8080/css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="http://localhost:8080/catalog">Книги</a></li>
            <li><a href="http://localhost:8080/about">Новости</a></li>
            <li><a href="http://localhost:8080/profile">Профиль</a></li>
        </ul>
    </nav>
</header>
<main>
    <table class="books-table">
        <thead>
        <tr>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Описание</th>
            <th>Фотография</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAnnotation()}"></td>
            <td>
                <img th:src="@{'/' + ${book.getId()} + '/image'}"/>
            </td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>