<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="http://localhost:8080/css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="http://localhost:8080/catalog">Книги</a></li>
            <li><a href="http://localhost:8080/about">Новости</a></li>
            <li><a href="http://localhost:8080/profile">Профиль</a></li>
        </ul>
    </nav>
</header>
<main>
    <table class="books-table">
        <thead>
        <tr>
            <th>Автор</th>
            <th>Дата</th>
            <th>Название</th>
            <th>Содержание</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${post.getCreator()}"></td>
            <td th:text="${post.getCreatedAt()}"></td>
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getContent()}"></td>
            <td>
                <img th:src="@{'/' + ${post.getId()} + '/postImage'}"/>
            </td>
        </tr>
        <div class="admin-panel" th:if="${role == 2 or role == 3}">
            <a class="btn btn-primary"  th:href="@{'/' + ${post.getId()} + '/post-update'}">Редактировать новость</a>
            <form th:action="@{'/' + ${post.getId()} + '/post-delete'}" method="post">
                <button type="submit" class="logout-button btn btn-danger" >Удалить новость</button>
            </form>
        </div>
        </tbody>
    </table>
</main>
</body>
</html>